<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>

    <!-- Fotorama CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        body {
            background-color: #000000;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .centeri {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            transform: scale(0.9);
            position: relative;
            top: -80px;
        }

        .fotorama {
            width: 100%;
            max-width: 600px;
            margin-top: 2.4rem;
        }

        .contact-form {
            max-width: 100%;
            margin: 20px auto;
            padding: 20px;
            background-color: #333;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #fff;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .delete-button,
        .edit-button {
            display: inline-block;
            background-color: #25d366;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1.2em;
            margin: 5px;
        }

        .delete-button:hover,
        .edit-button:hover {
            background-color: #128c7e;
        }

        .contact-form h2 {
            color: #25d366;
            margin-bottom: 20px;
        }

        .text-container {
            text-align: center;
            border: 2px solid white;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0;
            color: white;
        }

        .text-container p {
            margin: 0;
            overflow: hidden;
        }

        .contact-form label {
            display: flex;
            align-items: center;
            margin-top: 10px;
            color: #25d366;
        }

        .contact-form label::after {
            content: ":";
            margin-right: 5px;
        }

        .contact-form input,
        .contact-form textarea,
        .contact-form select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #25d366;
            border-radius: 4px;
            background-color: #444;
            color: #fff;
            box-sizing: border-box;
        }

        .contact-form textarea {
            resize: vertical;
        }

        @media (max-width: 768px) {
            body {
                height: 300vh;
            }

            .centeri {
                grid-template-columns: 1fr;
                display: grid;
                place-items: center;
                margin-left: 2rem;
            }
        }
    </style>
</head>

<body>
    <%- include ('../partials/navigation.ejs') %>

    <!-- Display other details -->
    <div class="button-container">
        <% if (currentUser && currentUser._id.toString() === car.author._id.toString()) { %>
            <form action="/cars/<%= car._id %>" method="POST" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="delete-button">Delete Car</button>
            </form>
        <% } %>

        <% if (currentUser && currentUser._id.toString() === car.author._id.toString()) { %>
            <a href="/cars/<%= car._id %>/edit" class="edit-button">Edit Car</a>
        <% } %>
    </div>

    <div class="text-container">
        <p><%= name %></p>
        <p><%= subject %></p>
    </div>

    <div class="row">
        <div class="centeri">
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                <% car.image.forEach(function(img, index) { %>
                    <% if (index === 0) { %>
                        <a href="<%= img.url %>">
                            <img src="<%= img.url %>" alt="<%= name %>'s Image">
                        </a>
                    <% } else { %>
                        <a href="<%= img.url %>">
                            <img src="<%= img.url %>" alt="<%= name %>'s Image">
                        </a>
                    <% } %>
                <% }); %>
            </div>

            <div class="contact-form">
                <h2>Contact Asif</h2>
                <p>27 72 657 6102 <br></p>
                <a href="https://wa.me/27726576102" target="_blank">
                    <button type="button">WhatsApp the Dealer</button>
                </a>
                <form action="/cars/<%= car._id %>/send-message" method="post">
                    <label for="name">Name *</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email *</label>
                    <input type="email" id="email" name="email" required>

                    <label for="mobile">Mobile *</label>
                    <input type="tel" id="mobile" name="mobile" required>

                    <label for="area">Area *</label>
                    <select id="area" name="area" required>
                        <option value="" disabled selected>Select your Location (province)</option>
                        <option value="eastern_cape">Eastern Cape</option>
                        <option value="free_state">Free State</option>
                        <option value="gauteng">Gauteng</option>
                        <option value="kwazulu_natal">KwaZulu-Natal</option>
                        <option value="limpopo">Limpopo</option>
                        <option value="mpumalanga">Mpumalanga</option>
                        <option value="north_west">North West</option>
                        <option value="northern_cape">Northern Cape</option>
                        <option value="western_cape">Western Cape</option>
                    </select>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4"></textarea>

                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <script>
        $(document).ready(function () {
            var fotorama = $('.fotorama').fotorama().data('fotorama');

            $('#prevButton').on('click', function () {
                fotorama.show('<');
            });

            $('#nextButton').on('click', function () {
                fotorama.show('>');
            });
        });
    </script>
</body>

</html>
